@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&family=Inter:wght@600&display=swap');


//colors
$colorBasic: #FFF;

$highlightColor: #F7F2F8;

$midleLightColor: rgb(188, 185, 185);

$colorSecondary: #3450E7;

$colorAstra: #5433FF;

$colorSubmit: #007AFF;

$darkColor: #2D3748;

$contentColor: #000;





//fonts 


$fontBasic: 'Exo 2', sans-serif;

$fontInter: 'Inter', sans-serif;