@import '../../basic-styles/basic-styles';
@import '../../basic-styles/buttons';
@import '../../basic-styles/vars';

.signupContainer {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 112px;
    margin-bottom: 80px;
}

.formContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @extend %fontDesc;
    font-size: 9.878px;
    letter-spacing: -0.198px;
    line-height: normal;
}

.logoBlock {
    display: flex;
    align-items: center;
    gap: 7.5px;
    color: $contentColor;
    @extend %fontDesc;
    font-size: 12.701px;
    line-height: 15.241px;
    letter-spacing: -0.254px;
}

.headFormTitle {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 19.757px;
    line-height: 27.659px;
    letter-spacing: -0.395px;
}

.headFormDescription {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 9.878px;
    letter-spacing: -0.198px;
    line-height: 13.83px;
}

.formFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17.5px 40px;
    margin-bottom: 47px;
}

.fieldItem {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.field_input {
    border-radius: 3px;
    border: 1px solid $midleLightColor;
    height: 33px;
    width: 252px;
}

.buttonBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    text-align: center;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 11px;
    margin-bottom: 22px;
}

.checkBoxWrapper {
    display: flex;
    text-align: center;
    gap: 8px;
}

.customLink {
    color: $colorSubmit;
}

.forgotPassword {
    display: flex;
    justify-content: end;
}

.SignUp {
    @extend %fontDesc;
    color: $colorBasic;
    background-color: $colorSubmit;
    height: 33.869px;
}

.SignUpWithGoogle {
    color: $colorBasic;
    @extend %fontDesc;
    border-radius: 3.528px;
    background-color: $darkColor;
    height: 33.869px;
}

.haveAccount {
    display: flex;
    justify-content: center;
    color: $contentColor;
    gap: 2px;
}

.downloadAppButtons {
    display: flex;
    flex-direction: row;
    gap: 9px;
}