@import '../../basic-styles/basic-styles';
@import '../../basic-styles/vars';
@import '../../basic-styles/buttons';

.header_container {
    max-width: 1336px;
    margin: 0 auto;
    height: 83px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .button_wrapper {
        display: flex;
        gap:55px;
        a {
            @extend %astraButton
        }
    }


}