@import '../../basic-styles/basic-styles';
@import '../../basic-styles/vars';
@import '../../basic-styles/buttons';


//preview block
.previewContainer {
    display: flex;
    align-items: center;
    max-width: 1440px;
    height: 900px;
    margin: 0 auto;
    border-radius: 80px;
    background-image: url('../../../images/backgroundImage.jpg');
    background-repeat: no-repeat;
}

.previewContentContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 64px;
}

.previewTitle {
    @extend %fontTitle;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: -4px;
}

.previewText {
    @extend %fontDesc;
    font-size: 18px;
    line-height: 27px;
}

.articleWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 58px;
}

.learnMorePreview {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 24px;
    border: 1px solid $colorBasic;
}

//description block
.descriptionContainer {
    margin: 112px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1440px;
}

.candiesImg {
    border-radius: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.descriptionTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descriptionSpan {
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: $contentColor;
}

.descriptionArticle {
    @extend %fontDesc;
    font-size: 18px;
    line-height: 27px;
    color: $contentColor;
}

.descriptionTitle {
    @extend %fontTitle;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 24px;
}

.descriptionUl {
    padding-left: 20px;
    margin-bottom: 32px;
}

.descriptionLi {
    list-style-type: disc;
}

.descriptionText {
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
    color: $contentColor;
    margin-bottom: 40px;
}

.descriptionProducttitle {
    @extend %fontTitle;
    color: $contentColor;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}

.productDescription {
    display: flex;
    flex-direction: row;
    padding: 0 8px;
    gap: 24px;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.shopButton {
    @extend %classicButton;
}

.learnMoreDescription {
    @extend %fontDesc;
    color: $contentColor;
    font-size: 16px;
    line-height: 24px;
}

.propositionContainer {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
    border-radius: 80px;
    background-color: $highlightColor;
    margin-bottom: 72px;
}

//proposition block
.propositionBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 112px 0;
}

.propositionTitle {
    color: $contentColor;
    @extend %fontTitle;
    font-size: 32px;
    line-height: 41.6px;
}

.propositionText {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
}

.propositionLink {
    @extend %classicButton;
}

// quality block
.qualityContainer {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin: 0 auto;
    gap: 80px;
    margin-bottom: 112px;
}

.qualityImage {
    border-radius: 80px;
}

.qualityTextContent {
    display: flex;
    flex-direction: column;
}

.qualityTextHead {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px
}

.qualityTitle {
    color: $contentColor;
    @extend %fontTitle;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 24px;
}

.qualityText {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
}

.qualityUl {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 32px;
    padding-left: 8px;
}

.qualityList {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
}

.listQualityImage {
    align-items: center;
    padding-right: 8px;
}

.qualityLink {
    @extend %classicButton;
}

.raitingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 80px;
}

.raitingTextContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.raitingBlock {
    display: flex;
    flex-direction: row;
}

.raitingDescription {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 24px;
    line-height: 33.6px;
}

.itemText {
    color: $contentColor;
    @extend %fontDesc;
    font-size: 16px;
    line-height: 24px;
}

.itemBlock {
    display: flex;
    flex-direction: column;
    padding: 6.5px 0;
}

.divider {
    width: 1px;
    height: 61px;
    border: 1px solid $contentColor
}

.creatorBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


@media (max-width: 430px) {
    .previewContainer {
        background-position: bottom -1px right -294px;
        color: $colorBasic;
        border-radius: 0;
    }

    .previewContentContainer {
        padding: 0;
    }

    .articleWrapper {
        padding: 0 20px;
    }

    .previewText {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .buttonBlock {
        padding: 0 20px;
    }
    .learnMorePreview {
        color: $colorBasic;
    }

    .descriptionContainer {
        flex-direction: column;
    }
}

