@import '../../../basic-styles/basic-styles';
@import '../../../basic-styles/buttons';
@import '../../../basic-styles/vars';



.SliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 82px;
    transition: 0,8s;
    
    p {
        color: $colorBasic;
        @extend %fontDesc;
        font-size: 19.757px;
        line-height: 29.635px;
        letter-spacing: -0.395px;
        margin-top: 45px;
        transition: 0,8s;
    }
}

.sliderButtonBlock {
    margin-bottom: 39px;
    transition: 0,8s;
}
